#Box input {
  width: 450px;
  height: 45px;
  font-size: 18px;
  padding: 0 12px;
  border-radius: 10px;
}

#Box button {
  height: 45px;
  margin-left: 10px;
  padding: 0 20px;
  font-size: 18px;
  border-radius: 10px;
  cursor: pointer;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
